/* Fuente Roboto de Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Estilos Globales */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Ajuste para usar toda la pantalla */
html, body {
  height: 100%;
  margin: 0;
}

/* Ajuste para centrar vertical y horizontal 
todos los textos dentro de un [p] */
.center { 
  position: relative;
}
.center p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: bolder;
  font-size: 36px;
}

/* Estilo del [header] */
header {
  background-color: #073763;
  color: #ffffff;
  height: 8%;
}

/* Ajuste de la clase [cuerpo] para que 
use toda la pantalla */
.cuerpo{
  height: 84%;
}

/* Estilo del [aside] */
aside {
  background-color: #274E13;
  color: #ffffff;
  float: left;
  height: 100%;
  width: 25%;
}

/* Propiedades del [grid] */
.grid-container{
  height: 100%;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #B7B7B7;
}

/* Estilo general de los [item#] */
[class*="item"]{
  background-color: #2E2E2E;
  color: #FFFFFF;
}

/* Posicion de los [item#] en el 
grid en modo desktop */
.item1{
  grid-area: 1/1/2/3;
}
.item2{
  grid-area: 2/1/4/2;
}
.item3{
  grid-area: 2/2/3/3;
}
.item4{
  grid-area: 1/3/3/3;
}
.item5{
  grid-area: 4/2/3/4;
}

/* Estilo del [footer] */
footer {
  background-color: #660000;
  color: #ffffff;
  height: 8%;
}

/* Discriminante para activar el modo movil
cuando la pantalla es menos a 600px de ancho */
@media only screen and (max-width: 600px) {
    
  /* Mover el [aside] sobre el [grid]
  en el modo movil haciendo que el [aside]
  tenga una anchura de 100% */ 
  aside{
    width: 100%;
    height: 10%;
  }

  /* Ajustar el grid en modo movil */
  .grid-container{
    grid-template-columns: repeat(4, 1fr);
    height: 90%;
  }  

  /* Cambia el tamaño de la fuente de los
  [item#] en modo movil */
  .center p {
    font-weight: normal;
    font-size: 24px;
  }

  /* Posicion de los [item#] en el */
  /* grid en modo movil */
  .item1{
    grid-area: 1/2/2/5;
  }
  .item2{
    grid-area: 1/1/3/2;
  }
  .item3{
    grid-area: 2/2/3/4;
  }
  .item4{
    grid-area: 2/4/4/4;
  }
  .item5{
    grid-area: 3/1/4/4;
  }
}